# Ignore client-side code
internal/client
cmd/client

# Ignore project files and git
.git
.gitignore
.husky
commitlint.config.js
node_modules
package-lock.json
package.json

# Docs and Test
README.md
doc
test
